
.ff{
    display: flex;
    align-items: center;
    background-image:linear-gradient(rgba(253, 150, 33, 0.985), rgba(235, 210, 160, 0.863)80%);
    justify-content: center;
    min-height: 100vh;
}
.card {
    background-image: linear-gradient(rgba(251, 94, 3, 0.925), rgba(248, 236, 232, 0.863));
    text-decoration: none;
    padding-bottom: 10px;
    border-radius: 15%;
    padding: 12px;
    min-width: 330px;
    max-width: 530px;
    height: 430;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    text-align: center;
    transition: all 0.25s;
}

.card:hover {

    transform: translateY(-15px);
    box-shadow: o 12px 16px rgba(0, 0, 0, 0.2);
}

.card_home_img {
    text-decoration: none;
    border-radius: 15%;
    padding: 20px;
    width: 300px;
    height: 200px;
}
.card_home_h4 {
    text-decoration: none;
    font-weight: 600;
}
.button{
    background-image: linear-gradient(rgba(139, 68, 46, 0.925), rgba(248, 236, 232, 0.863));
    padding: 20px;
    border-radius: none;
    border: none;
    border-radius: 20%;
    margin-left: 40px;
}

.button:hover{
    background-image:linear-gradient(rgba(182, 49, 8, 0.925), rgba(211, 151, 128, 0.863));
}
.spinner {border-radius: 50%;
    padding-left: 300px;
    padding-top: 10px;
    padding-bottom: 10px;
}

@media(max-width:550px){
    .ff{
        display: block;
        
    }
    .button{
        margin: 30px;
    }
}