.black{
    background-image:linear-gradient(rgba(253, 150, 33, 0.985), rgba(235, 210, 160, 0.863)80%);
   width: 100vw;
    display: flex;
    min-height: 100vh;
    border: blue solid;
    justify-content: center;
}
.container{
    width: 400px;
}

.textLine{
    outline: none;
    border: solid 1px #ccc;
    padding: 10px;
}
.formulario__grupo-correcto{
    color: #1ed12d;
    opacity:1;
}
.formulario_incorrecto{
    color:#bb2929;
}
.button{
    position: relative;
    width: 70px;
    height: 30px;
    font-size: 10px;
    background-color: #202231;
    color: #efff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: width .5s,
    border-radius .5s;
}
.button *{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity .25s;
}
.icon{
    opacity: 0;
}
.button:focus{
    width: 30px;
    background-color: #44c08a;
    border-radius: 50%;
}

.button:focus .text{
    opacity: 0;
}
.button:focus .icon{
    opacity: 1;
    transition-delay: 5s;
}
.img{
    background-image:linear-gradient(rgba(241, 151, 99, 0.925), rgba(138, 125, 121, 0.863)50%);
    width: 50px;
    height: 50px;
    border-radius: 10px;
    
}
.btn{background-color: #6a6a6a00;
    border-radius: none;
    border: none;
    border-radius: 20%;
}
.btn:hover{
    transform: translateY(-5px);
    width: 55px;
    height: 55px;
    background-image:linear-gradient(rgba(241, 151, 99, 0.925), rgba(138, 125, 121, 0.863)50%); ;
}
.btn{
    background-image:linear-gradient(rgba(241, 151, 99, 0.925), rgba(138, 125, 121, 0.863)50%);
    width: 30px;
    height: 50px;
    border-radius: 10px;
    border: none;
}
.p{
    text-align: top;
    margin-bottom: 5px;
    height: 5px;
}
.btn_tmp{
    height: 40px;
    display: flex;
    text-align: center;
}