@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&family=Roboto&display=swap');

.fondo {
    overflow: hidden;
    background-image:linear-gradient(rgba(253, 150, 33, 0.985), rgba(235, 210, 160, 0.863)80%);
}

.title {
    text-align: center;
    color: #6a6a6a;
    margin-top: 50px;
    font-size: 40px;
    font-weight: 100;
    font-family: "Roboto", sans-serif;
}

.card_home {
    margin: 30px auto;
    justify-self: center;
    display: grid;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 8px;
    grid-row-gap: 20px;
}

.spinner {border-radius: 50%;
    padding-left: 300px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.paginacion {
    display: flex;
    justify-content: center;
   padding-bottom: 12;
}

.ajustePag {
    padding-left: 100px;
}

.img{
    background-image:linear-gradient(rgba(241, 151, 99, 0.925), rgba(138, 125, 121, 0.863)50%);
    width: 50px;
    height: 50px;
    border-radius: 10px;
    
}
.btn{background-color: #6a6a6a00;
    border-radius: none;
    border: none;
    border-radius: 20%;
}
.btn:hover{
    transform: translateY(-5px);
    width: 50px;
    height: 50px;
    background-image:linear-gradient(rgba(241, 151, 99, 0.925), rgba(138, 125, 121, 0.863)50%); ;
}
.btnCreate{
    margin: 10px;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    border: none;
}
.btnCreate:hover{
    transform: translateY(-5px);
    width: 100px;
    height: 35px;
    background-image:linear-gradient(rgba(255, 249, 245, 0.925), rgba(138, 125, 121, 0.863)50%); ;
}
.msj_no{
    margin-left: 430px;
    text-align: center;
    align-content: center;
    
}

.img_no{
    border-radius: 30%;
    height: 400px;
    width: 400px;
}
.btnFilt{
    background-image:linear-gradient(rgba(241, 151, 99, 0.925));
    width: 100px;
    height: 30px;
    border-radius: 10px;
    border: none;
}

.btnFilt:hover{
    transform: translateY(-5px);
    width: 100px;
    background-image:linear-gradient(rgba(241, 151, 99, 0.925), rgba(138, 125, 121, 0.863)50%); ;
}

@media(max-width:1000px){
    .card_home {
        margin: 30px auto;
        display: grid;
        justify-content: center;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 20px;
    }

    .paginacion {
        display: flex;
        justify-content: center;
       padding-bottom: 12;
       margin: 20px 20px;
    }
}

@media(max-width:550px){
    .card_home {
        margin: 30px auto;
        display: grid;
        justify-content: center;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(8, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 20px;
    }

    .btnCreate{
        margin:10px 20px;
        width: 100px;
        height: 30px;
        border-radius: 10px;
        border: none;
    }

    .btn{
        background-color: #6a6a6a00;
        border-radius: none;
        border: none;
        border-radius: 20%;
    }
}