.lpg{
    text-align: center;
    height: 645px;
    width: 1350px;
    background-image:linear-gradient(rgba(214, 25, 12, 0.8), rgba(116, 87, 116, 0.8)), url('../images/Fondo_bg.jpg') ;
    background-size: 700px;   
    display: flex;
}
.cartel{
    margin-left: 260px;
    text-align: center;
    background-image: linear-gradient(rgba(139, 68, 46, 0.525), rgba(216, 173, 158, 0.863));
    border-radius: 12%;
    height: 500px;
    width: 850px;
    margin-top: 30px;
    padding: 20px;
}
.img{
    width: 100px;
    height: 100px;
}

.buttonn{
    border: none;
    background-color: rgba(221, 157, 157, 0);
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}
.buttonn:hover {
    transform: translateY(-5px);
    box-shadow: o 12px 16px rgba(0, 0, 0, 0.2);
    background-image:linear-gradient(rgba(182, 49, 8, 0.525), rgba(211, 151, 128, 0.863));
}