.navBar{
    background-color: rgb(251, 94, 3);;
    background-size: 900px;
    width: 100%;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navBarLi{
    list-style: none;
    display: inline-block;
    margin: 0 5px;
}

@media(max-width:550px){
    .navBar{
    background-color: rgb(251, 94, 3);;
    background-size: 900px;
    width: 100%;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 10px;
    display: block;
    align-items: center;
    justify-content: spa;
}
}

