 
 .Pgdo {
   align-items: center;
   display: grid;
   grid-template-columns: repeat(22, 1px);
   grid-template-rows: 1fr;
   grid-column-gap: 1px;
   float: left;
} 
.button_pag {
   width: 40px;
   border-radius: 25%;
   background-color: #4da3c5; 
   color: rgb(24, 6, 6);
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
} 